* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
/* chung */
p {
  color: #9197b3;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
}
a {
  text-decoration: none;
}
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
}
/*  */
.khoichung {
  width: 100%;
  height: 100%;
  display: flex;
}
.khoitrai {
  display: flex;
  flex-direction: column;
  width: 21.25%;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
}
.khoiadmin {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 36px 45px 65px 28px;
  position: fixed;
  top: 0;
}
.admin__img {
  width: 37px;
  height: 37px;
}
.admin__noidung {
  color: #000;
  font-size: 2.6rem;
  font-weight: 600;
  letter-spacing: 0.26px;
}
.item__list {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 19px;
  justify-content: center;
  padding-left: 39px;
  padding-right: 26px;
  position: fixed;
  top: 100px;
}
.item__list-item {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  align-items: center;
  transition: 0.5s;
  color: #9197b3;
}
.item__img {
  width: 38px;
  height: 24px;
  padding-right: 14px;
  padding-left: 0;
  color: #9197b3;
}
.item__desc {
  color: currentColor;
  font-size: 1.4rem;
  letter-spacing: -0.14px;
  padding-right: 1.33rem;
}
.item__muiten {
  color: #9197b3;
}
.item__list-item:hover {
  border-radius: 8px;
  background: #df0404;
  color: #fff;
  /* padding-left: 30px 28px 30px; */
}
/*  */
.khoiavt {
  cursor: pointer;
  padding: 350px 28px 0px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
}
.hinhtindao {
  border-radius: 42px;
}
.khoiavt .item__svg {
  cursor: pointer;
  rotate: 90deg;
  width: 24px;
  height: 24px;
}
.item__content {
  padding-left: 10px;
  padding-right: 60px;
}
/* khoi hello */
.khoiphai {
  padding: 41px 95px 76px 71px;
}
.hello {
  color: #000;
  font-size: 2.4rem;
  font-weight: 500;
}
.khoihello {
  top: 0;
  margin-bottom: 47px;
  position: fixed;
  background-color: #fff;
}
.khoitieude {
  /* width: 968px;
  height: 151px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
}
.khoitieude-item {
  display: flex;
}
.liver__topic {
  display: flex;
}
.tieude-img {
  padding: 32px 20px 35px 50px;
}
.khoicontent {
  padding: 32px 0 36px;
}
.liver__content {
  padding-bottom: 4px;
  padding-right: 29px;
  color: #acacac;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: -0.14px;
}
.liver__number {
  padding-bottom: 6px;
  color: #333;
  font-size: 3.2rem;
  letter-spacing: -0.32px;
}
.liver__topic {
  padding-right: 48px;
  gap: 10px;
}
.liver__img {
  width: 25px;
  height: 25px;
}
/*  */
.khoinhap {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  background-color: #fff;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
}
.tren-desc {
  padding-top: 20px;
  padding-left: 38px;
  color: #000;
  font-size: 2.2rem;
  font-weight: 600;
}
.khoitren {
  display: flex;
  justify-content: space-between;
}
.tren-topic {
  display: flex;
  padding-right: 44px;
  padding-top: 44px;
  padding-bottom: 49px;
}
.form {
  border-radius: 10px;
  background: #f9fbff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-input {
  cursor: pointer;
  border: none currentColor;
  padding-right: 36px;
}
.form__sapxep {
  cursor: pointer;
  margin-left: 16px;
  color: #7e7e7e;
  font-size: 1.2rem;
  font-weight: 400;
}
.Newest {
  color: #3d3c42;
  font-size: 1.2rem;
  font-weight: 600;
}
/*  */
.khoigiua {
  padding: 0px 44px 26px 38px;
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr 1.5fr 1fr 1.5fr;
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
}
.khoichungcontact .khoigiua {
  grid-template-columns: 1fr 1.2fr 1fr 1.5fr;
}
.grid-row {
  display: contents;
  text-align: center;
}
.grid-row::after {
  content: "";
  grid-column: 1/-1;
  border-bottom: 1px solid #000;
}
.btn {
  cursor: pointer;
  width: 60px;
  border-radius: 4px;
}
.khoiduoi {
  width: 100%;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  overflow: hidden;
}
.show {
  display: none;
}
.but {
  background-color: rgba(22, 192, 152, 0.38);
  border-radius: 8px;
  margin-left: 39px;
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 320px;
  border: currentColor;
}
.but:hover {
  box-shadow: 2px 4px 4px rgba(79, 42, 234, 0.17);
}
.but a {
  color: #008767;
  font-size: 1.4rem;
  font-weight: 500;
}
.form__grid {
  display: flex;
  gap: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.btn__update {
  border: #3d3900;
  background: #ffff9f;
}
.btn__update a {
  color: #3d3900;
}
.btn__delete {
  background-color: #ffc5c5;
  border: #df0404;
}
.btn__delete a {
  color: #df0404;
}
.btn__read {
  background-color: #82cafa;
  border: #1c0a8e;
}
.btn__read a {
  color: #1c0a8e;
}
.btn:hover {
  transform: scale(1.1);
}
/* update */
.khoiupdate,
.khoidelete {
  position: absolute;
  top: 50%;
  left: 57%;
  transform: translate(-50%, -50%);
  width: 790px;
  background-color: #fff;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.khoiupdate .descup {
  color: #000000;
  font-size: 40px;
  font-weight: 900;
}
.khoiup {
  padding: 51px 306px 56px;
}
.khoiup .desc {
  margin-top: 10px;
}
.khoinhapup {
  width: 85%;
  padding: 0px 42px 109px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.khoinhapup form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  background-color: #fff;
}
.input {
  cursor: pointer;
  border: 1px solid black;
  width: 100%;
  height: 60%;
  background-color: #d9d9d9;
}
.thechon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.khoiselectup {
  padding: 0px 42px 21px;
  display: flex;
  justify-content: end;
  gap: 20px;
  width: 100%;
}
.khoiselectup .btn {
  width: 138.817px;
  height: 53.092px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.svg__sec {
  width: 28.192px;
  height: 28.192px;
}
.btn__cancel {
  background-color: #b10303;
  color: #fff;
}
.khoiselectup .desc {
  font-size: 20px;
  color: #fff;
}
.btn__save {
  background-color: #04e3a7;
  color: #fff;
}
.khoitanghinh {
  display: none;
}
/* delete */
.svg__war {
  width: 128px;
  height: 128px;
  color: red;
}
.khoiselectdele .desc {
  font-size: 20px;
}
.khoidelete .desc__0 {
  font-size: 40px;
  padding: 24px;
}
.khoidelete .desc__1 {
  font-size: 24px;
  padding: 24px;
}
.khoiselectdele {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 24px;
}
.khoiselectdele .btn {
  width: 138.817px;
  height: 53.092px;
}
/* create ticket */
.khoiphaitic {
  width: 70.25%;
  display: flex;
  flex-direction: column;
  padding-right: 21px;
  padding-left: 30px;
  background-color: #eef0f2;
}
.khoitrentic {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: start;
  align-items: start;
}
.khoitrentic .desc {
  width: 346px;
  height: 40px;
  color: #9197b3;
  font-size: 25px;
}
.svgtic {
  width: 43px;
  height: 43px;
  cursor: pointer;
}
.soc {
  width: 40%;
}
.khoihoatiet {
  padding-top: 5px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.svgthoatiet {
  width: 20%;
  height: 20px;
}
.khoiphoto {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.inputtic {
  display: none;
}
.formticket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputtic__plus {
  padding: 16px 442px;
  cursor: pointer;
}
.khoiformcreate {
  width: 100%;
  border-top: 1px solid black;
  background-color: #fff;
  border-radius: 8px 8px 0px 0px;
}
.formcreate {
  width: 100%;
  margin-top: 50px;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 30px;
}
.the {
  display: flex;
  align-items: center;
  gap: 20px;
}
.labeltic {
  color: #000;
  font-size: 2rem;
}
.khoinuttic {
  display: flex;
  justify-content: end;
  padding-right: 140px;
  padding-bottom: 80px;
  background-color: #fff;
}
.btntic {
  border-radius: 12px;
  background: #1dd16a;
  width: 128px;
  height: 52px;
  color: #fff;
  font-size: 30px;
  font-weight: 500;
}
.thematch .inputticket {
  width: 40%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #9a9595a0;
}
.thedt .inputticket {
  width: 40%;
  height: 30px;
  margin-left: 15px;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #9a9595a0;
}
.thetype .inputticket {
  width: 35%;
  height: 30px;
  margin-left: 15px;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #9a9595a0;
}
.theprice .inputticket {
  width: 35%;
  height: 30px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #9a9595a0;
}
.khoiupdate .khoiphoto {
  width: 100%;
}
.khoiupdate2 .khoiup {
  height: 50px;
  margin-bottom: 100px;
}
.khoiupdate2 .khoiphoto {
  box-shadow: none;
  height: 100px;
}
.khoiupdate2 #descphoto {
  margin-bottom: 70px;
}
.khoiupdate2 .inputtic__plus {
  width: 90px;
  height: 90px;
  padding: 0px;
  margin-bottom: 30px;
}
.khoiupdate2 .descup {
  font-size: 40px;
}
.inputticket {
  cursor: pointer;
}
.btntic {
  cursor: pointer;
}
.khoiphoto .desc {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.khoiupdate2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 790px;
  background-color: #fff;
  box-shadow: 0px 6px 0px 6px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.khoiupdate2 .khoiformcreate {
  border-top: 1px solid black;
  border-radius: 0px;
}
.khoiupdate2 .khoiselectup {
  justify-content: space-evenly;
}
