* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  /* overflow: hidden; */
}
/* chung */
.tieude {
  color: #000;
  font-size: 4rem;
}
.mail {
  border: 3px #be1c0d solid;
  width: 581px;
  height: 74px;
  cursor: pointer;
}
a {
  text-decoration: none;
}
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}
/* code */
.khoichung {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.khoitrai {
  flex: 1;
}
.khoitrai .img {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  object-fit: cover;
  object-position: top;
}
.img {
  width: 300px;
  animation: hehehe 4s ease-in-out infinite;
}
@keyframes hehehe {
  0%,
  100% {
    opacity: 0;
    filter: blur(4px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
.khoiphai {
  flex: 1;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  background: #fffafa;
}
.khoisign {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.khoiphai .khoisign .tieude {
  font-size: 96px;
  padding: 51px 200px 21px;
}
.khoigiua {
  padding: 0px 73px 0px 69px;
  display: flex;
  flex-direction: column;
}
.khoimail {
  padding: 0px 73px 39px 69px;
}
.khoipass {
  padding: 0px 73px 0px 69px;
}
.khoilogin {
  padding: 0px 73px 74px 498px;
}
.khoinext {
  padding-top: 0px;
  padding-left: 125px;
  padding-right: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  width: 470px;
  height: 88px;
  border-radius: 50px;
  background: #be1c0d;
  transition: 0.25s;
  cursor: pointer;
}
.link {
  color: #fff4f4;
  font-size: 4rem;
  transition: 0.25s;
}
.btn:hover {
  background-color: black;
  box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.25);
}
.btn:hover .link {
  color: #be1c0d;
}
